<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:context = "http://www.springframework.org/schema/context"
   xmlns:mvc = "http://www.springframework.org/schema/mvc"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans     
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context-3.0.xsd
   http://www.springframework.org/schema/mvc
   http://www.springframework.org/schema/mvc/spring-mvc.xsd">
   
   	<context:component-scan base-package = "com.emaunzpa.computerdatabase.controller" />
   	<mvc:annotation-driven />
   
   	<bean id="myProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:computer-database-dbHikariConfig.properties</value>
				<value>classpath:log4j.properties</value>
			</list>
		</property>
	</bean>
			
	<bean id="commandeLigneInterface" class="com.emaunzpa.computerdatabase.UI.CommandeLigneInterface" autowire="byName"></bean>
	
	<bean id="listComputers" class="com.emaunzpa.computerdatabase.servlet.ListComputers" autowire="byName"></bean>
	
	<bean id="addComputer" class="com.emaunzpa.computerdatabase.servlet.AddComputer" autowire="byName"></bean>
	
	<bean id="editComputer" class="com.emaunzpa.computerdatabase.servlet.EditComputer" autowire="byName"></bean>
   	
   	<bean id="computerService" class="com.emaunzpa.computerdatabase.service.ComputerService" autowire="byName"></bean>
	
	<bean id="manufacturerService" class="com.emaunzpa.computerdatabase.service.ManufacturerService" autowire="byName"></bean>

	<bean id="manufacturerDriver" class="com.emaunzpa.computerdatabase.bdd.ManufacturerDriver" autowire="byName"></bean>
	
	<bean id="computerDriver" class="com.emaunzpa.computerdatabase.bdd.ComputerDriver" autowire="byName"></bean>
	
	<bean id="pagination" class="com.emaunzpa.computerdatabase.util.Pagination"></bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	    <property name="driverClassName" value="${driverClassName}" />
	    <property name="url" value="${jdbcUrl}" />
	    <property name="username" value="${username}" />
	    <property name="password" value="${password}" />
	</bean>
	
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    	<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean class = "org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name = "prefix" value = "/views/" />
      <property name = "suffix" value = ".jsp" />
   	</bean>
    
</beans>