<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   	<bean id="myProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:computer-database-dbHikariConfig.properties</value>
				<value>classpath:log4j.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="listComputers" class="com.emaunzpa.computerdatabase.servlet.ListComputers" autowire="byName"></bean>
	
	<bean id="addComputer" class="com.emaunzpa.computerdatabase.servlet.AddComputer" autowire="byName"></bean>
	
	<bean id="editComputer" class="com.emaunzpa.computerdatabase.servlet.EditComputer" autowire="byName"></bean>
   	
   	<bean id="computerService" class="com.emaunzpa.computerdatabase.service.ComputerService" autowire="byName"></bean>
	
	<bean id="manufacturerService" class="com.emaunzpa.computerdatabase.service.ManufacturerService" autowire="byName"></bean>

	<bean id="manufacturerDriver" class="com.emaunzpa.computerdatabase.bdd.ManufacturerDriver" autowire="byName"></bean>
	
	<bean id="computerDriver" class="com.emaunzpa.computerdatabase.bdd.ComputerDriver" autowire="byName"></bean>
	
	<bean id="pagination" class="com.emaunzpa.computerdatabase.util.Pagination"></bean>
    
    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	    <property name="driverClassName" value="${driverClassName}" />
	    <property name="url" value="${jdbcUrl}" />
	    <property name="username" value="${username}" />
	    <property name="password" value="${password}" />
	</bean>
    
</beans>