<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   	<bean id="computerService" class="com.emaunzpa.computerdatabase.service.ComputerService" scope="prototype" autowire="byName"></bean>
	
	<bean id="manufacturerService" class="com.emaunzpa.computerdatabase.service.ManufacturerService" scope="singleton" autowire="byName"></bean>

	<bean id="manufacturerDriver" class="com.emaunzpa.computerdatabase.bdd.ManufacturerDriver" scope="singleton">
		<constructor-arg index="0" value="computer-database-db"/>
	</bean>
	
	<bean id="computerDriver" class="com.emaunzpa.computerdatabase.bdd.ComputerDriver" scope="singleton">
		<constructor-arg index="0" value="computer-database-db"/>
	</bean>
	
	<bean id="pagination" class="com.emaunzpa.computerdatabase.util.Pagination" scope="prototype"></bean>
	
</beans>